*{
    margin: 0;
    padding: 0;
}

/* header & banner section */

header{
    background-image: url("../images/donation0.jpg");
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover;
    padding: 300px 0;
    color: #fff;

    position: relative;
    z-index: 1;
}

header::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    
    background: rgba(0, 0, 0, 0.5);
}
.banner{
    text-align: center;
}
.banner-title {
    font-size: 60px;
    width: 706px;
    margin: 17px auto;
  }
  .banner-description {
    font-size: 20px;
    width: 578px;
    margin: 20px auto;
  }
  .banner-btn {
    width: 200px;
    padding: 18px;
    font-size: 21px;
    background: #e76278;
    border: 0;
    border-radius: 10px;
  }